<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id ="alien" class ="com.java.springdemo.Alien" autowire="byType" >
		
		<!-- setter injection -->
		<property name="age" value="10"> </property>
		<!--  
		<property name="computer" ref="desktop"> </property>
		-->
		
		<!--  constructor injection -->
		
		<!--  
		<constructor-arg value="12"></constructor-arg>
		<constructor-arg ref="laptop"></constructor-arg>
		-->
	</bean>
	
	<bean id="computer" class="com.java.springdemo.Laptop" primary="true">
	</bean> 
	
 	<bean id="desktop" class="com.java.springdemo.Desktop">
	</bean> 

</beans>
